.container {
  padding: 0.3em;
}

.number {
  flex: 0 0 1em;
}

.text {
  flex-grow: 1;
}

.highlight {
  background: #e9e4ee;
  color: #67318d;
}

.selectable {
  cursor: pointer;
}


.highlight .icon {
  fill: #67318d;
}
