.container {
  padding: 0.3em;
}

.number {
  flex: 0 0 1em;
}

.text {
  flex-grow: 1;
}

.highlight {
  background: #e9e4ee;
  color: #67318d;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
}


.highlight .icon {
  fill: #67318d;
}

.valueField {
  width: 100%;
  background: #fff;
  height: 2.5em;
  position: relative;
  overflow: hidden;
  display: flex;
}

.hidden {
  display: none;
}

.paramName {
  color: #67318d;
  background: #e9e4ee;
  padding: 0 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.valueInput {
  color: #888;
  flex-grow: 1;
  border: none;
  padding-left: 0.5em;
}
