.container {
  padding: 0 0.5em;
  height: 2.4em;
}

.number {
  flex: 0 0 1.5em;
  font-weight: bold;
}

.text {
  flex-grow: 1;
  font-weight: bold;
}

.highlight,.selectable:hover {
  background: #e9e4ee;
  color: #67318d;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
}


.highlight .icon,.selectable:hover .icon {
  fill: #67318d;
}


.inputs {
  padding: 0.6em;
  font-size: 0.8em;
}
