
.header,.footer,main {
  padding: 0 4em;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.content {
  height: 100%;
  padding-top: 18em !important;
  box-sizing: border-box;
  background: #f8f8f7;
}

main,.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.header {
  position: absolute;
}

.footer {
  margin-top: 6em;
  flex-shrink: 0;
}

.header,.footer {
  background-color: #fff;
  flex-shrink: 0;
  height: 12em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div,.footer > div {
  color: #67318d;
  font-weight: 600;
}

.header > div {
  font-size: 1.3em;
}

.footer > div {
  font-size: 1.1em;
}

.link {
  text-decoration: none;
  color: #7b7979;
  font-weight: 600;
  cursor: pointer;
}

.link:hover {
  color: #67318d;
}

.active {
  color: #67318d;
}


.link:not(:first-child) {
  margin-left: 7em;
}

.logo {
  width: 14em;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
}

@media (min-width: 768px){
  .header,.footer,main {
    padding: 0 calc((100vw - 600px) / 2)
  }
}

@media (min-width: 1024px){
  .header,.footer,main {
    padding: 0 calc((100vw - 750px) / 2)
  }
}

@media (min-width: 1366px){
  .header,.footer,main {
    padding: 0 calc((100vw - 1000px) / 2)
  }
}
