
.form {
  margin-top: 3.6em;
  position: relative;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e9e8e8;
  background: none;
  margin-bottom: 1.2em;
  font-size: 1.5em;
  padding: 0.6em 0.4em;
  box-sizing: border-box;
}

.error {
  position: absolute;
  top: -2em;
  font-size: 0.9em;
}

.submitBtn {
  display: block;
  width: 100%;
  border: none;
  color: #67318d;
  background: #e9e4ee;
  font-size: 1.3em;
  height: 2.4em;
  margin-top: 0.8em;
  cursor: pointer;
  border-radius: 0.2em;
}

.input::placeholder {
  color: #7b7979;
}
