.button {
  background: #e9e4ee;
  color: #67318d;
  padding: 0.6em 0.7em;
  width: 100%;
  border-radius: 0 !important;
}

.icon {
  width: 1em;
  height: 1em;
  fill: #67318d;
  margin-left: 0.6em;
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

.label {
  height: 1em;
  font-size: 1.1em;
  margin: 0.4em;
  font-weight: 600;
  color: #7b7979;
}


.name {
  font-size: 1.1em;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.fileInputContainer {
  width: 35%;
  position: relative;
  background-color: #000;
  border-radius: 0.2em;
  margin-bottom: 1.6em;
}
