.container {
  margin-bottom: 1.2em;
}
.container label *:nth-child(2) {
  margin-left: 0.8em;
}

.selectContainer {
  width: 100%;
  border-radius: .4em;
  height: 2.6em;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.selectIcon {
  position: absolute;
  right: .8em;
}

.hidden {
  display: none;
}

.fileInputContainer {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  min-width: 43%;
  position: relative;
}

.fileInputContainer label {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.fileButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e9e4ee;
  color: #67318d;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.6em 0.7em;
  border-radius: 0.2em;
}

.fileIcon {
  width: 1em;
  height: 1em;
  fill: #67318d;
  margin-left: 0.6em;
}

.fileName {
  font-size: 1.1em;
  width: 3.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1em;
}
