# Ignore Byebug command history file.
.byebug_history

# Ignore all logfiles
/log/*
# don't ignore this
!/log/.keep
# secret for JWT
# config/secret.yml

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/tmp/*
package-lock.json
