.container {
  margin-bottom: 1.2em;
  display: block;
}

.column {
  background: #fff;
  border-radius: 0.2em;
  height: 4.5em;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.row {
  background: #fff;
  border-radius: 0.2em;
  height: 2.6em;
  position: relative;
  overflow: hidden;
}

.label {
  display: inline-block;
  color: #888;
  font-size: 1.1em;
  margin: 0 0.3em;
}

.container input {
  border: none;
  border-radius: 0;
  font-size: 1.2em;
  width: 100%;
}

.nameFieldContainer,.nameFieldInputWrapper,.valueFieldContainer,.valueFieldInputWrapper {
  height: 100%;
  position: relative;
}

.nameFieldContainer {
  width: 65%;
  border-right: 1px solid #f1f1f1;
}

.valueFieldContainer {
  width: 35%;
}

.nameFieldInputWrapper,.valueFieldInputWrapper {
  flex-grow: 1;
  color: #888;
}


.nameFieldContainerTwo {
  height: 50%;
  border-bottom: 1px solid #f1f1f1;
}

.valueFieldContainerTwo {
  height: 50%;
}

.nameFieldInputWrapperTwo,.valueFieldInputWrapperTwo {
  height: 100%;
  flex-grow: 1;
  color: #888;
}
.actionParameterPlaceholder {
  color: #888;
  text-align: center;
  font-size: 1.2em;
}
