.button {
  background: #e9e4ee;
  color: #67318d;
  padding: 0.6em 0.7em;
}

.icon {
  width: 1em;
  height: 1em;
  fill: #67318d;
  margin-left: 0.6em;
}

.hidden {
  display: none;
}

.container {
  justify-content: space-between;
  max-width: 50%;
  min-width: 43%;
  position: relative;
}

.container label {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.label {
  height: 1em;
  font-size: 1.2em;
  line-height: 1em;
  margin: 0.4em;
  font-weight: 600;
  color: #7b7979;
}


.name {
  font-size: 1.1em;
  width: 3.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1em;
}
