.container {
  display: flex;
  align-items: center;
}

.text {
  color: #ac91bd;
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 1em;
}
.icon {
  width: 1.8em;
  margin-left: 1em;
}
@media (min-width: 768px){
  .text {
    font-size: 1.6em;
  }
}
@media (min-width: 1024px){
  .text {
    font-size: 1.4em;
  }
}
