.container {
  background: #eeefef;
  cursor: pointer !important;
}

.container > * {
  color: #000 !important;
}

.container:hover {
  background: #e9e4ee;
}

.container:hover > * {
  color: #67318d;
}

.container:active {
  cursor: grabbing !important;
}

.burger {
  width: 1.2em;
  height: 1.2em;
}

.burger > * {
  stroke: #8c8c8c;
}
