.container {
  position: absolute;
  top:0;
  height:100%;
  width:100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 50ms ease-in;
}

.hide {
  opacity: 0;
}
