.container {
  height: 80vh;
  width: auto;
  max-width: calc(100% - 4vw) !important;
  min-width: 50vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:only-child {
  max-width: 100%;
}
.container > div {
  width: 100%;
  overflow: auto;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .container {
    height: auto;
    width: 80vw;
    min-height: 40vh;
  }
}
