.error {
  color: #e23e4d;
  transition: opacity 150ms ease-in-out;
  opacity: 0;
  font-size: 0.8em;
  font-weight: 500;
}

.large {
  font-size: 1.1em;
}

.top {
  position: absolute;
  top: 5.6em;
}

.entering {
  opacity: 1
}

.entered  {
  opacity: 1
}

.exiting  {
  opacity: 0
}

.exited  {
  opacity: 0
}
