
.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
}

.content > div {
  width: 32%;
  position: relative;
}

.margin {
  margin: 1.6em 0 2.8em 0;
}

.margin label {
  color: #67318d !important;
}

.error {
  margin-top: 0.6em;
  display: block;
}
.submit {
  width: 84% !important;
  margin-top: 2em !important;
  height: 2.6154em !important;
}

.columnTitle {
  margin-left: 1em;
  color: #ac91bd;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 1em;
}

.content input[type='text'],.content input[type='password'],.content input[type='number'], .content input[type='email'] {
  background-color: #fff;
  border: none;
  height: 2.16667em;
}
.content textarea,.content input[type='text'],.content input[type='password'],.content input[type='number'], .content input[type='email'] {
  padding: 0 0.333em !important;
}

.content input[type='text'],.content input[type='password'],.content input[type='number'], .content input[type='email'],.content textarea,.content select {
  font-size: 1.2em;
}

@media (max-width: 480px) {
  .content textarea {
    text-indent:-3px;
  }
}
