.container {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.roleDropdown {
  position: relative;
  margin-left: 1.5em;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.inputWrapper {
  min-width: 40%;
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  font-size: 1.2em !important;
  border-radius: 0;
}

.searchIcon {
  position: absolute;
  right: 1em;
  width: 1.4em;
  height: 1.4em;
  fill: #7b7979;
}


.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  outline: none;
  font-size: 1em !important;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 11em;
}

.text {
  font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid #e9e8e8;
  display: flex;
  align-items: center;
  color: #888;
  padding: 0.7em 0;
}

.icon {
  width: 0.9em;
  height: 0.9em;
  margin-left: 0.9em;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  min-width: 15.8em;
  padding: 1em 0;
  margin: 0.8em 0 0;
  color: #888;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(31,36,48,.2);
}

.role {
  font-weight: 400;
  white-space: nowrap;
  padding: 0.625em 1.25em;
  font-size: 1.2em;
  cursor: pointer;
  color: #888;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.role:hover,.role.active {

  background-color: #f5f7fa;
}
