.container {
  display: flex;
  justify-content: space-between;

}

.container > * {
  display: flex;
  align-items: center;
  text-align: right;
}

.container > label > * {
  margin: 1px 0.2em 0.2em;
}

.checkbox{
  display: flex;
  align-items: center;
}
.input{
  max-width: 5rem;
}

.disabled {
  background-color: #ddd !important;
}