.checkboxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  min-height: 5em;
}

.checkboxes > label {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 50%;
  margin-bottom: 0.2em;
}

.checkboxes > label > div {
  font-weight: 400;
}

.loader {
  font-size: 0.6em;
}
