
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.container > * {
  flex-shrink: 0;
}

.header {
  background: #eeefef;
  border-radius: 0.4em;
  height: 4.8em;
  padding: 0 1em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  float: right;
  background: #67328d;
  color: #fff;
  cursor: pointer;
  height: 2.5em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  text-decoration: none;
  padding: 0 0.6em;
}

.title {
  font-size: 1.8em;
  color: #7b7979;
  font-weight: 500;
}

.back {
  position: absolute;
  top: -2.5em;
  color: #7b7979;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
}

.triangle {
  transform: rotate(90deg);
  width: 0.6em;
  margin-right: 0.2em;
  position: relative;
  margin-right: 0.2em;
  top: -0.08em;
}

.triangle > polygon {
  fill: #7b7979;
}

.loadingContent {
  background: #eeefef;
  border-radius: 0.4em;
  flex-grow: 1;
}
