
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.container > * {
  flex-shrink: 0;
}

.header {
  background: #eeefef;
  border-radius: 0.4em;
  height: 6.2em;
  padding: 0 1em;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  float: right;
  background: #67328d;
  color: #fff;
  cursor: pointer;
  height: 2.5em;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  text-decoration: none;
  padding: 0 0.6em;
}

.title {
  font-size: 2.6em;
  color: #7b7979;
  font-weight: 500;
}

.back {
  position: absolute;
  top: -1.8em;
  color: #7b7979;
  text-decoration: none;
  font-size: 1.8em;
  display: inline-flex;
  align-items: center;
}

.triangle {
  transform: rotate(90deg);
  width: 0.7em;
  margin-right: 0.2em;
  position: relative;
  margin-right: 0.2em;
  top: 0em;
}

.triangle > polygon {
  fill: #7b7979;
}

.loadingContent {
  background: #eeefef;
  border-radius: 0.4em;
  flex-grow: 1;
}
@media (min-width: 768px){
  .back {
    font-size: 1.6em;
    top: -2.5em;
  }
  .title {
    font-size: 2.2em;
  }
  .header {
    height: 5.2em;
  }
  .triangle {
    width: 0.7em;
    top: 0em;
  }
  .link {
    height: 2.5em;
    font-size: 1.2em;
  }
}
@media (min-width: 1024px){
  .back {
    font-size: 1.3em;
  }
  .title {
    font-size: 1.7em;
  }
  .header {
    height: 4.6em;
  }
  .triangle {
    width: 0.6em;
    top: -0.06em;
  }
}
