.container {
  position: absolute;
  right: -7.6em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 6px 6px rgba(0,0,0,0.12);
  z-index: 9999;
}

.link {
  padding: 0 0.8em;
  font-size: 1.4em;
  color: #c6c6c5;
  background: #fff;
  cursor: pointer;
  height: 2.2em;
  display: flex;
  align-items: center;
}

.link:hover {
  background: #e9e4ee;
}
