.content {
  padding: 1em .8em 2.6em;
  border-bottom: 1px solid #e9e8e8;
  margin-top: 0.4em;
  margin-bottom: 2.6em;
}
.files {
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}
.boxes > * {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.errorContainer {
  height: 2em;
  position: relative;
}

.absolute {
  position: absolute;
}
@media (min-width: 768px){
  .boxes,.files {
    font-size: 0.7em;
  }
}
@media (min-width: 1024px){
  .boxes,.files {
    font-size: 1em;
  }
}

@media (max-width: 460px){
  .boxes input[type='checkbox'],.boxes input[type='radio'] {
    height: 0.8em;
  }
  .boxes {
    flex-wrap: wrap;
  }
  .boxes label {
    margin: 0;
  }
  .boxes > * {
    justify-content: flex-end;
  }
}
