.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eeefef;
  border-radius: 0.4em;
}

.container > * {
  text-align: center;
}

.error {
  font-size: 1.4em;
  margin-bottom: 1em;
}

.button {
    background: #67328d;
    color: #fff;
    cursor: pointer;
    height: 2.6154em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;

}
