.container {
  width: 80vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  margin-bottom: 1em;
}

@media (min-width: 768px){
  .container {
    width: 46em;
    height: 70vh;
  }
}
