.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container > div {
  width: 31%;
  position: relative;
}

.banner {
  font-size: 1.8em;
  padding: 0.8em;
  margin-bottom: 1.5em;
  font-weight: 600;
}

.margin {
  margin-left: 1em;
}

.padding {
  padding-top: 2.3em;
}

.wrapper {
  position: relative;
}
.image {
  position: absolute;
  left: -13em;
  bottom: -1.4em;
  width: 9em;
}
