.container {
  font-size: 1.8em;
}


.buttons {
  justify-content: space-between;
  margin-top: 3em;
}

.label {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1em;
  color: #7b7979;
}
@media (min-width: 768px){
  .container {
    font-size: 1em;
  }
}
