<%
	require 'uri'
	uri = URI.parse("https://45.79.48.61/users/confirmation")
	new_query_ar = URI.decode_www_form(uri.query || '') << ["confirmation_token", @token]
	uri.query = URI.encode_www_form(new_query_ar)
%>

<p>Welcome <%= @name %>!</p>

<p>You can confirm your account email through the link below:</p>


<p><%= link_to 'Confirm my account with password', uri.to_s %></p>

