<%
	require 'uri'
	uri = URI.parse("http://www.localhost:3000/")
	new_query_ar = URI.decode_www_form(uri.query || '') << ["reset_password_token", @token]
	uri.query = URI.encode_www_form(new_query_ar)
%>

<p>Hello <%= @resource.email %>!</p>

<p>You has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', uri.to_s %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
