.container {
  padding: 0 1.2em;
  height: 6em;
  margin-bottom: 0.6em;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #eeefef;
  border-radius: 0.4em;
  text-decoration: none;
}

.text {
  font-size: 2.4em;
  color: #7b7979;
}

@media (min-width: 768px){
  .container {
    height: 4.6em;
  }
  .text {
    font-size: 1.6em;
  }
}

@media (min-width: 1024px){
  .container {
    height: 3.5em;
    padding: 0 0.8em;
    margin-bottom: 0.4em;
  }
  .text {
    font-size: 1.3em;
  }
}
