.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}

.label {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1em;
  color: #67318d;
  cursor: pointer;
}

.container {
  font-size: 1.6em;
}

@media (min-width: 720px) {
  .container {
    font-size: 1em;
  }
}
