.commentsWrap {
  max-height: 75vh;
  margin: 10px 0 10px -2em;
  display: flex;
  flex-direction: column;
  width: calc(100% + 2em);
}

.commentBoxWrap {
  padding-bottom: 10px;
  border-bottom: .5px solid #dadad9;
  margin-bottom: 10px;
  position: relative;
  padding-right: 1em;
}
.commentBoxWrap:hover .deleteBtn {
  opacity: 1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-width: 40vw;
}
.header {
  margin: -1em 0 1em -1em;
  font-size: 22px;
}
.headerComment {
  display: flex;
  justify-content: space-between;
  color: grey;
}
.comment {
  font-size: 14px;
}
.deleteBtn {
  position: absolute;
  right: -2em;
  top: 0;
  cursor: pointer;
  transition: all .2s;
  color: grey;
  opacity: 0;
}
.deleteBtn:hover {
  color: #a70000
}
.deleteAllWrap {
  margin: 0 0 -2em -2em;
}
.indicate {
  position: absolute;
  right: -2px;
  top: -5px;
  color: #a70000;
  font-size: 14px;
}